* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

#container {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch; /* Stretch buttons to full width */
    padding: 10px;
}

#sidebar button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
    border-radius: 5px; /* Rounded corners for buttons */
}

#sidebar button:hover {
    background-color: #666; /* Lighter color on hover */
}

#sidebar button.active {
    background-color: #444; /* Darker color when active */
}

#simulationLogs {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px; /* Rounded corners */
}

#simulationLogs h4 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #fff; /* Improved color for headings */
}

#log-container {
    max-height: 300px; /* Set a max height for scrolling */
    overflow-y: auto; /* Allow scrolling if logs overflow */
    background-color: #555; /* Darker background for logs */
    border-radius: 5px; /* Rounded corners */
    padding: 10px; /* Padding around logs */
}

#log-container p {
    margin: 5px 0;
    font-size: 14px;
    color: #e0e0e0; /* Lighter color for log text */
}

#grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 1px;
    padding: 1px;
    background-color: #fff; /* White background for the grid */
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.plot-image {
    width: 100%;
    height: auto;
}
