* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
}

#container {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 200px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#sidebar button {
    width: 100%;
    margin: 5px 0;
    padding: 10px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;
}

#sidebar button.active {
    background-color: #333; /* Darker color when active */
}

#grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,
                        minmax(350px, 1fr));
    gap: 1px;
    padding: 1px;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

#container {
    display: flex;
    height: 100vh;
}

.plot-image {
    width: 100%;
    height: auto;
}

